@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
